<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevelopmentHelperLib" version="1.17.20602.34" targetFramework="net452" />
  <package id="Domain.Base" version="1.17.20602.18" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
</packages>